/*attempt to replicate style of http://githubuniverse.com without looking at the code*/
* {
	font-family: 'Ek Mukta', sans-serif;
}
body {
	margin: 2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c468e+0,2c1984+35,3d3d56+58,559e82+100 */
	background: #1c468e; /* Old browsers */
	background: -moz-linear-gradient(left, #1c468e 0%, #2c1984 35%, #3d3d56 58%, #559e82 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1c468e 0%,#2c1984 35%,#3d3d56 58%,#559e82 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1c468e 0%,#2c1984 35%,#3d3d56 58%,#559e82 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c468e', endColorstr='#559e82',GradientType=1 ); /* IE6-9 */
}

nav {
	clear: left;
}
.fancy a {
	text-decoration: none;
	color: #f6f6fb;
	width: 40%;
}

.fancy a:hover {
	text-decoration: underline;
}

.fancy li {
	display: inline-block;
	margin: 15px;
	padding: 5px ;
}

.fancy {
	background-color: #1e1929;
	text-align: right;
	margin: 0px;
	width: 70%;
	float: right;
	text-transform: uppercase;	
	letter-spacing: 0.15em;
}
.logo {
	margin-top: -50px;
	margin-left: 10px;
}
.connect {
	display: inline-block;
}
.title {
	z-index: 99;
	display: inline-block;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	padding: 10px;
	padding-right: 25px;
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	margin-top: -50px;
}
.line {
	border-bottom: 4px dotted black;
	width: 30%;
	margin-left: 50%;
	margin-top: -40px;
	background-color: #f6f6fb
}
.side {
	transform: rotate(270deg);
	font-size: 130%;
	text-align: left;
	width: 600px;
	position: relative;
	margin-left: -275px;
	clear: both;
}
.contact {
	z-index: 99;
	position: fixed;
	float: right;
	padding: 0px 20px;
	margin-left: 75%;
	margin-top: -45px;
	border: 3px solid #1e1929;
	box-shadow: 10px 10px #1e1929;
	text-transform: uppercase;	
	font-family: 'Ek Mukta', sans-serif;
}
.contact a {
	color: #2c1984;	
}
.contact:hover {
	color: white;
	background-color: #1a51b0;
}

main {
	clear: right;
	padding-left: 20%;
	padding-right: 25%;
	font-size: 115%;
}
.container {
	background-color: #f6f6fb;
	margin-top: 0px;
	height: 90%;
	overflow: auto;
}

.photo {
	-webkit-box-shadow: 20px 10px #e38c8c;
	-moz-box-shadow: 20px 10px #e38c8c;
	box-shadow: 20px 10px #e38c8c;
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 40px;
}
footer {
	position:absolute;
	padding-bottom: 5px;
	width: 100%;
    text-align: center;
    bottom: 0px;
}